@page "/team"
@using Exciting.TeamClient
@using Exciting.TeamModel
@attribute [StreamRendering]

@inject TeamApiClient TeamApi

<PageTitle>CPTMSDUG Team</PageTitle>

<h1>CPTMSDUG Team</h1>

<p>This component demonstrates showing data.</p>

@if (teamMembers == null)
{
    <p><em>Loading...</em></p>
}
else
{
    <table class="table">
        <thead>
            <tr>
                <th>ID</th>
                <th>First Name</th>
                <th>Last Name</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var member in teamMembers)
            {
                <tr>
                    <td>@member.Id</td>
                    <td>@member.FirstName</td>
                    <td>@member.LastName</td>
                </tr>
            }
        </tbody>
    </table>

    if (teamMembers.Length == 0)
    {
        <p><em>No team members yet.</em></p>
    }
}

@code {
    TeamMember[]? teamMembers;

    protected override async Task OnInitializedAsync()
    {
        teamMembers = await TeamApi.GetMembersAsync();
    }
}
